html{
    font-size: 2vw;
}

.counters{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 350px){
    .counters{
        /*margin-top: 10vh;*/
        display: flex;
        flex-direction: row;
}
}


.counter_1{
    width: 12vw;
    height: 12vw;
    background: #facb03;
}

.counter_2{
    width: 12vw;
    height: 12vw;
    background: #62a79e;
}

#game_field {
    margin-top: 10vh;
    width: 70vh;
    height: 70vh;

    background: black;
    border: 3px solid #facb03;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;

    justify-content: space-evenly;
    column-gap: 1px;
    row-gap: 1px;
}

@media screen and (max-width: 350px){
    #game_field {
        width: 90vw;
        height: 90vw;
    }
}

.container{
    display: flex;
    justify-content: center;
}

.elements{
    display: flex;
    flex-direction: column;
}



.ship_division{
    display: flex;
    flex-direction: column;
    width: 70vh;
}


@media screen and (max-width: 350px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.ship_condition{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4.5%
}

.indicator_cell > img{
    height: 4vh;
}

.score_style{
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
}

.counter_line{
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 2px;
    background: black;
    align-items: center;
}

.player_name{
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    text-transform: lowercase;
}

.img1{
    display: block;
    width: 30%;
}

.section{
    width: 9%;
    height: 9%;
    background-color: whitesmoke;
    border: 2px;
}

.section_pic{
    width: 100%;
    height: 100%;
}

.content-blocker {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/*background-color: rgba(136, 136, 204, 0.5);*/
		z-index: 4444;
	}

.total_score_style {
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}



